.aims-section {
  @include section-animated-tab(0 0 40px 0, 0, $color-blue, -100%);
  position: relative;
  padding: 70px 64px 140px;
  background-color: $color-secondary-dark-blue;

  @media (max-width: $breakpoint-laptop) {
    padding: 64px;
  }

  @media (max-width: $breakpoint-tablet) {
    padding: 40px 16px;     
  }

  .shape-paralax-item {
    @include shape-paralax-pentagon(auto, -20%);
  }

  .container {
    .text-box {
      margin-bottom: 90px;

      @media (max-width: $breakpoint-tablet) {
        margin-bottom: 40px;
      }

      .title {
        @extend %text-h2;
        margin-bottom: 40px;
        color: $color-white;
      }

      .text-sides {
        display: flex;

        @media (max-width: $breakpoint-tablet) {
          flex-direction: column;    
        }

        .side-title {
          @extend %text-h4;
          margin-bottom: 26px;
          max-width: 320px;
          color: $color-white;
        }

        .text {
          @extend %text-body-small;
          color: $color-white;
        }

        .left-side, .right-side {
          @extend %horizontal-center;
          flex-direction: column;
          width: 100%;
        }

        .left-side {
          padding-right: 110px;
          border-right: 1px solid rgba($color: #fff, $alpha: 0.6);

          @media (max-width: $breakpoint-laptop) {
            padding-right: 36px;
          }

          @media (max-width: $breakpoint-tablet) {
            padding-right: 0;
            padding-bottom: 36px;
            border-right: none;
            border-bottom: 1px solid rgba($color: #fff, $alpha: 0.6);
          }
        }

        .right-side {
          padding-left: 110px;

          @media (max-width: $breakpoint-laptop) {
            padding-left: 36px;
          }

          @media (max-width: $breakpoint-tablet) {
            padding-left: 0;
            padding-top: 36px;
          }

          .side-title {
            margin-right: auto;
            margin-left: auto;
            text-align: center;
          }
        }
      }
    }

    .img-box {
      max-height: 540px;
      border-radius: 25px;
      overflow: hidden;

      @media (max-width: $breakpoint-tablet) {
        display: flex;
        min-height: 200px;
      }

      img {
        width: 100%;
        min-height: 100%;
        object-fit: cover;
      }
    }
  }
}