@import 'hero-section';
@import 'technology-section';
@import 'news-section';
@import 'innovation-section';
@import 'about-us-section';
@import 'career-section';
@import 'offers-section';

.fixed-side-panel {
  position: fixed;
  z-index: 300;
  right: 0;
  top: 50%;
  transform: translateY(-50%) translateX(calc(100% - 50px));
  border-radius: 20px;
  overflow: hidden;
  transition: ease 0.5s;

  &:hover {
    transform: translateY(-50%) translateX(20px);
  }

  .item {
    &:not(:last-child) {
      a {
        border-bottom: 1px solid #0C7F8D;
      }
    }

    a {
      @extend %vertical-center;
      padding: 10px 16px;
      padding-right: 30px;
      background-color: $color-blue;
      transition: ease 0.3s;
  
      &:hover {
        background-color: #0C7F8D;
      }
  
      .icon {
        margin-right: 16px;
      }
  
      .text {
        @extend %text-button;
        color: $color-white;
      }
    }
  }
}
