.offers-section {
  @include activate-border-animation();
  position: relative;
  padding: 58px 64px 113px;
  overflow: hidden;

  @media (max-width: $breakpoint-laptop) {
    padding-bottom: 58px;
  }

  @media (max-width: $breakpoint-tablet) {
    padding: 40px 16px;
  }

  .shape-paralax-item {
    @include shape-paralax-pentagon();
  }

  .border-slide-animation {
    @include border-slide-animation();
    margin-top: 36px;
    height: 80px;
    width: 55%;
    margin-left: auto;

    @media (max-width: $breakpoint-tablet) {
      height: 40px;
      margin-top: 8px;
    }
  }

  .container {
    .title-box {
      .eyebrow {
        @extend %text-button;
        display: block;
        margin-bottom: 4px;
        color: $color-blue;
      }

      .title {
        @extend %text-h2;
        margin-bottom: 58px;
        color: $color-black;
      }
    }

    .offers-slider {
      position: relative;

      @media (max-width: $breakpoint-laptop) {
        padding: 0 60px;
      }

      .arrow {
        @include slider-triangle-arrow;
      }

      .active-slide-border {
        @include slide-purple-border;
      }

      .arrow, .active-slide-border {
        display: none;

        @media (max-width: $breakpoint-laptop) {
          display: flex;
        }
      }
    }

    .offers-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;

      @media (max-width: $breakpoint-laptop) {
        display: flex;
        gap: 0;
      }

      &-item {
        height: auto;

        > a {
          display: flex;
          flex-direction: column;
          height: 100%;
        }

        &:hover {
          .arrow {
            opacity: 0;
          }

          .img-box {
            @extend %horizontal-center;
            padding: 10px;
            border-color: $color-purple;

            &:after {
              content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='19' viewBox='0 0 27 19'%3E%3Cpath id='Polygon_7' data-name='Polygon 7' d='M13.5,0,27,19H0Z' transform='translate(27 19) rotate(180)' fill='%23c959a3'/%3E%3C/svg%3E%0A");
              position: absolute;
              bottom: -24px;

              @media (max-width: $breakpoint-laptop) {
                display: none;
              }
            }

            @media (max-width: $breakpoint-laptop) {
              padding: 0;
              border: none;
              justify-content: flex-start;
            }
          }

          .capture {
            color: $color-purple;
          }
        }

        .img-box {
          margin-bottom: 24px;
          max-height: 538px;
          height: 100%;
          position: relative;
          border-radius: 25px;
          padding: 10px;
          border: 4px solid transparent;
          transition: ease 0.3s;

          @media (max-width: $breakpoint-laptop) {
            border: none;
            padding: 0;
            margin-top: 10px;
            margin-bottom: 36px;
          }

          .img {
            height: 100%;

            @media (max-width: $breakpoint-tablet) {
              &, img {
                width: 100%;
              }
            }
          }

          .arrow {
            width: 32px;
            height: auto;
            position: absolute;
            right: 36px;
            bottom: 36px;
            z-index: 2;
            top: auto;
            transition: ease 0.3s;
          }

          .block-img {
            height: 100%;
            object-fit: cover;
            border-radius: 25px;
          }
        }

        .capture {
          @extend %text-h4;
          display: block;
          text-align: center;
          max-width: 236px;
          margin: 0 auto;
          color: $color-black;

          @media (max-width: $breakpoint-laptop) {
            min-height: 40px;
          }
        }
      }
    }
  }
}