.technology-section {
  padding: 55px 102px 130px;
  position: relative;
  overflow: hidden;

  @media (max-width: $breakpoint-desktop) {
    padding-right: 64px;
    padding-left: 64px;
  }

  @media (max-width: $breakpoint-tablet) {
    padding: 40px 16px;
  }

  .shape-paralax-item {
    @include shape-paralax-pentagon();
  }

  .container {
    max-width: 1716px;

    .title-box {
      margin-left: 268px;

      @media (max-width: $breakpoint-desktop) {
        margin-left: 0;
      }

      .eyebrow {
        @extend %text-button;
        display: block;
        margin-bottom: 4px;
        color: $color-blue;
      }

      .title {
        @extend %text-h2;
        margin-bottom: 15px;
      }

      .buttons {
        display: flex;

        @media (max-width: $breakpoint-tablet) {
          flex-direction: column;
        }

        button:first-child {
          margin-right: 18px;

          @media (max-width: $breakpoint-tablet) {
            margin-right: 0;
            margin-bottom: 16px;
          }
        }
      }
    }

    .technology-slider-wrapper {
      position: relative;
      margin-top: 108px;
      padding: 0 96px;
      display: flex;
      justify-content: center;

      @media (max-width: $breakpoint-laptop) {
        justify-content: flex-start;
        padding: 0 60px;
      }

      @media (max-width: $breakpoint-tablet) {
        margin-top: 32px;
      }

      .active-slide-border {
        @include slide-purple-border;
      }

      .arrow {
        @include slider-triangle-arrow();
      }
    }

    .technology-slider {
      .slide {
        min-height: 630px;
        margin-right: 48px;

        &.swiper-slide-next {
          .slide-content .slide-text {
            color: $color-purple;

            .slide-content .slide-text {
              color: $color-black;
            }
          }
        }

        &.swiper-slide-active {
          @media (max-width: $breakpoint-tablet) {
            .slide-content .slide-text {
              color: $color-purple;
            }
          }
        }

        &.slide-1 .img-box {
          background-image: url('../images/tech-slider/slide-1.jpg');
        }
  
        &.slide-2 .img-box {
          background-image: url('../images/tech-slider/slide-2.jpg');
        }
  
        &.slide-3 .img-box {
          background-image: url('../images/tech-slider/slide-3.jpg');
        }
  
        &.slide-4 .img-box {
          background-image: url('../images/tech-slider/slide-2.jpg');
        }

        &.slide-1.secondary .img-box {
          background-image: url('../images/tech-slider/slide-sec-1.jpg');
        }
  
        &.slide-2.secondary .img-box {
          background-image: url('../images/tech-slider/slide-sec-2.jpg');
        }
  
        &.slide-3.secondary .img-box {
          background-image: url('../images/tech-slider/slide-sec-3.jpg');
        }
  
        &.slide-4.secondary .img-box {
          background-image: url('../images/tech-slider/slide-sec-2.jpg');
        }

        .slide-content {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          transition: ease 0.5s;

          .img-box {
            margin-top: 10px;
            width: 100%;
            border-radius: 20px;
            background-size: cover;
            background-position: 0 50%;
            overflow: hidden;
            transition: clip-path ease 0.5s;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              display: none;
            }
          }

          .slide-text {
            @extend %text-h4;
            margin-top: 42px;
            display: block;
            color: $color-black;
            text-align: center;
            transition: ease 0.5s;

            &.hide {
              display: none;
            }
          }
        }
      }
    }
  }
}
