.button {
  @extend %horizontal-center;
  @extend %text-button;
  padding: 12px 32px;
  color: $color-white;
  border: 2px solid transparent;
  border-radius: 50px;
  cursor: pointer;
  transition: ease 0.3s;

  &.button-white {
    border: 2px solid rgba($color: $color-white, $alpha: 0.4);

    &:hover {
      color: $color-blue;
      border-color: $color-blue;
    }
  }

  &.button-blue {
    border-width: 3px;
    background-color: $color-blue;

    &:hover {
      border: 3px solid $color-blue;
      color: $color-blue !important;
      background-color: #fff;
    }
  }

  &.button-gray {
    border: 3px solid $color-secondary-gray;
    color: rgba($color: $color-black, $alpha: 0.5);

    &:hover {
      border-color: $color-blue;
      color: $color-blue;

      svg path {
        fill: $color-blue;
      }
    }
  }

  &.dark-color {
    color: $color-black;
  }
}
