.footer {
  background-color: $color-blue;
  padding: 56px 64px 64px;

  &-heading {
    @extend %vertical-center;
    justify-content: space-between;
    padding-bottom: 32px;
    border-bottom: 1px solid $color-white;

    .buttons {
      display: flex;

      .button:first-child {
        margin-right: 10px;
      }
    }
  }

  &-information {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;

    .links {
      display: grid;
      gap: 120px;
    }

    .contacts {
      max-width: 164px;
    }
  }
}