html.overflow, body.overflow {
  overflow-y: hidden;
}

@mixin light-header {
  background-color: #fff;
  border-bottom: 1px solid rgba($color: #000, $alpha: 0.1); 
}

.navigation {
  padding: 32px 48px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  transition: ease 0.3s;

  &.light {
    @include light-header();

    .container {
      .logo {
        .desktop {
          display: none;
        }

        .mobile {
          display: block;
        }
      }

      .logo .text, .navigation-links .navigation-link a {
        font-weight: 600;

        &:not(.button) {
          color: $color-black;

          &:hover, &.active {
            color: $color-blue;
          }
        }
      }

      .search-btn, .in-btn {
        svg path {
          fill: $color-black !important;
        }
      }

      .search-btn, .login-btn {
        &:not(.mobile-nav) {
          @extend .button-gray;
          @extend .dark-color;
        }
      }
    }
  }

  &.fixed {
    padding-top: 16px;
    padding-bottom: 16px;
    box-shadow: 0 0 5px #38384c;
    backdrop-filter: blur(5px);

    &:not(.light) {
      background: rgba(0, 0, 0, 0.6);
    }
  }

  @media (max-width: $breakpoint-desktop) {
    @include light-header();
    padding-top: 16px;
    padding-bottom: 16px;
    position: fixed;
  }

  @media (max-width: $breakpoint-tablet) {
    padding: 16px 24px;
  }

  .container {
    justify-content: space-between;
    
    &, .logo {
      @extend %vertical-center;
    }

    .logo {
      margin-right: 95px;

      @media (max-width: $breakpoint-desktop-xl) {
        flex-direction: column;
        align-items: start;
        margin-right: 36px;
      }

      @media (max-width: $breakpoint-desktop) {
        flex-direction: row;
        align-items: center;   
      }

      img {
        min-width: 205px;

        &.desktop {
          @media (max-width: $breakpoint-desktop) {
            display: none;
          }
        }

        &.mobile {
          display: none;

          @media (max-width: $breakpoint-desktop) {
            display: block;
          }

          @media (max-width: $breakpoint-tablet) {
            min-width: 145px;
          }
        }
      }

      .text {
        @extend %text-body-ultra-small;
        max-width: 86px;
        margin-left: 15px;
        color: $color-white;
        text-transform: uppercase;

        @media (max-width: $breakpoint-desktop-xl) {
          max-width: 200px;
          margin-left: 0;
          margin-top: 10px;
        }

        @media (max-width: $breakpoint-desktop) {
          margin-top: 0;
          margin-left: 8px;
          max-width: 145px;
          color: $color-dark-gray;
        }
      }
    }

    .navigation-links {
      display: grid;
      grid-auto-flow: column;
      gap: 42px;
      margin-right: 100px;

      @media (max-width: $breakpoint-desktop-xl) {
        gap: 20px;
        margin-right: 36px;   
      }

      .navigation-link {
        display: flex;
        position: relative;

        &.active {
          a {
            color: $color-blue;
          }
        }

        a {
          @extend %text-button;
          @extend %vertical-center;
          transition: ease 0.3s;

          &:not(.button) {
            &:hover, &.active {
              color: $color-blue;
            }
          }
        }

        &.dropdown-trigger.active {
          &:before {
            content: '';
            position: absolute;
            top: 0;
            right: -20px;
            bottom: 0;
            left: -20px;
            z-index: 1;
          }

          > a {
            position: relative;
            z-index: 2;
          }
        }

        .dropdown {
          @extend %text-body-ultra-small;
          display: none;
          position: absolute;
          top: 100%;
          left: -12px;
          padding: 26px;
          border-radius: 14px;
          box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.102);
          color: $color-black;
          background-color: $color-white;
          width: 300px;

          &.show {
            display: block;
          }

          .icon {
            position: absolute;
            top: -12px;
          }

          a {
            color: $color-black;

            &:hover {
              color: $color-blue;
            }
          }

          .links {
            display: grid;
            gap: 13px;
            padding-left: 16px;
            border-left: 3px solid $color-blue;
            margin-bottom: 20px;

            a {
              text-transform: uppercase;
            }
          }

          .sub-links {
            margin-left: 16px;
            padding-left: 16px;
            display: grid;
            gap: 8px;
            border-left: 3px solid $color-secondary-gray;

            a {
              text-transform: capitalize;
              font-weight: 400;
            }
          }
        }
      }
    }

    .additional-buttons {
      @extend %vertical-center;

      .search-btn {
        @extend %full-center;
        margin-right: 16px;
        padding: 0;
        min-width: 44px;
        min-height: 44px;
        width: 44px;
        height: 44px;
        
        &:hover {
          background-color: transparent;
        }

        svg path {
          transition: ease 0.3s;
        }
      }

      .login-btn {
        margin-right: 24px;
      }

      .lang-btn {
        margin-right: 28px;
        width: 36px;
        height: 36px;
        overflow: hidden;
        border-radius: 50%;

        &:hover {
          overflow: visible;
        }

        img:last-child {
          margin-top: 8px;
        }
      }

      .in-btn {
        &:hover svg path {
          fill: $color-blue !important;
        }

        svg path {
          transition: ease 0.3s;
          fill: $color-white;
        }
      }
    }

    .navigation-links, .additional-buttons {
      @media (max-width: $breakpoint-desktop-xl) {
        .button {
          padding-right: 12px;
          padding-left: 12px;   
        }
      }

      @media (max-width: $breakpoint-desktop) {
        display: none;
      }
    }
  }

  .burger-menu-btn {
    @extend %full-center;
    display: none;
    width: 36px;
    height: 36px;
    min-width: 36px;
    min-height: 36px;
    padding: 0;
    border: 3px solid #D1D3D5;
    border-radius: 50%;
    cursor: pointer;
    transition: ease 0.3s;

    &.is-active {
      background-color: $color-blue;
      border-color: $color-blue;

      .hamburger-inner {
        transform: translate3d(0, 5px, 0) rotate(45deg);

        &, &:before, &:after {
          background-color: $color-white;
        }

        &:after {
          transform: translate3d(0, -10px, 0) rotate(-90deg);
        }
      }
    }

    &:hover {
      opacity: 1;
    }

    .hamburger-box {
      width: 16px;
      height: 12px;
    }

    .hamburger-inner {
      &, &:before, &:after {
        width: 16px;
        height: 2px;
      }

      &:before {
        top: 5px;
      }

      &:after {
        top: 10px;
      }
    }

    @media (max-width: $breakpoint-desktop) {
      display: flex;
    }
  }

  .mobile-navigation {
    display: none;
    position: fixed;
    top: 84px;
    right: 0;
    height: calc(100vh - 84px);
    max-width: 414px;
    width: 414px;
    background-color: #fff;
    transform: translateX(100%);
    transition: transform ease 0.5s;

    @media (max-width: $breakpoint-desktop) {
      display: block;
    }

    &.show {
      transform: translateX(0);
    }

    @media (max-width: $breakpoint-tablet) {
      width: 100%;
      max-width: 100%;
    }

    .scrollable {
      height: 100%;
      padding: 26px 0 100px;
      overflow-y: auto;
    }

    .padding, .navigation-link {
      padding: 0 24px;
    }

    .navigation-links {
      margin-bottom: 40px;
      margin-right: 0;
      display: grid;
      gap: 19px;
      grid-auto-flow: row;

      .navigation-link {
        position: relative;

        > a {
          font-family: 'Rajdhani', sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 22px;
          line-height: 28px;
          color: $color-black;
        }

        &.accordion {
          flex-direction: column;
          padding: 0;

          .ui-accordion-header {
            @extend %vertical-center;
            flex-direction: row-reverse;
            justify-content: space-between;
            padding: 0 24px 8px;
            margin: 0;
            border: none;
            background: none;

            &.ui-state-active {
              color: $color-blue;
  
              .ui-accordion-header-icon {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='8' viewBox='0 0 12 8'%3E%3Cpath id='Polygon_15' data-name='Polygon 15' d='M6,0l6,8H0Z' transform='translate(12 8) rotate(180)' fill='%2306a6b9'/%3E%3C/svg%3E%0A");
                transform: rotate(180deg);
              }
            }

            &-icon {
              background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='8' viewBox='0 0 12 8'%3E%3Cpath id='Polygon_15' data-name='Polygon 15' d='M6,0l6,8H0Z' transform='translate(12 8) rotate(180)' fill='%23161719'/%3E%3C/svg%3E%0A");
              background-position: 0;
              transition: ease 0.3s;
            }
          }

          .expandable-links {
            padding: 19px 24px;
            border-top: 1px solid rgba($color: #000000, $alpha: 0.1);
            border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
            border-right: none;
            border-left: none;

            .big-link {
              @extend %text-button;
              margin-bottom: 8px;
              font-weight: 600;
              color: $color-black;
            }

            .small-links {
              margin-top: 4px;
              display: grid;
              gap: 4px;

              .link {
                @extend %text-body-ultra-small;
                color: $color-black;
              }
            }
          }
        }
      }
    }

    .socials {
      display: inline-grid;
      grid-auto-flow: column;
      gap: 12px;

      .social-link {
        @extend %vertical-center;
      }
    }

    .additional-buttons {
      display: flex;
      align-items: center;
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      padding-top: 12px;
      padding-bottom: 12px;
      background-color: $color-blue;

      .login-btn {
        margin-right: 12px;
        flex-grow: 1;
      }

      .search-btn {
        margin-right: 8px;
      }

      .lang-btn {
        margin-right: 0;

        img:last-child {
          transform: translateY(-235%);
          margin-top: 0;
          margin-bottom: 10px;
        }
      }
    }
  }
}
