.introduction-section {
  background-image: url('../images/bg/home-intro-bg.jpg');

  .overlay {
    background-color: rgba($color: $color-blue, $alpha: 0.9);

    padding: 174px 64px 210px;

    @media (max-width: $breakpoint-tablet) {
      padding: 40px 16px;
    }
  }

  .container {
    .text-box {
      max-width: 544px;

      .title {
        @extend %text-h3;
        margin-bottom: 24px;
      }
  
      .text {
        font-family: 'Rajdhani', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: $color-white;
      }
    }
  }
}
