@mixin slider-triangle-arrow($bottom: 0px) {
  position: absolute;
  top: 0;
  bottom: $bottom;
  z-index: 1;
  display: flex;
  align-items: center;

  @media (max-width: $breakpoint-laptop) {
    width: 40px;
  }

  svg {
    cursor: pointer;

    &:hover {
      path:last-child {
        fill: $color-blue;
      }
    }

    path:last-child {
      transition: ease 0.3s;
    }
  }

  &.arrow-left {
    margin-right: 30px;
    left: 0;
  }

  &.arrow-right {
    transform: rotate(180deg);
    margin-left: 30px;
    right: 0;
  }
}
