@mixin slider-triangle-arrow($bottom: 0px) {
  position: absolute;
  top: 0;
  bottom: $bottom;
  z-index: 1;
  display: flex;
  align-items: center;

  @media (max-width: $breakpoint-laptop) {
    width: 40px;
  }

  svg {
    cursor: pointer;

    &:hover {
      path:last-child {
        fill: $color-blue;
      }
    }

    path:last-child {
      transition: ease 0.3s;
    }
  }

  &.arrow-left {
    margin-right: 30px;
    left: 0;
  }

  &.arrow-right {
    transform: rotate(180deg);
    margin-left: 30px;
    right: 0;
  }
}

@mixin section-pseudo-tab($border-radius: 0 0 0 40px, $left: auto, $fill: $color-blue) {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: $left;
    width: 30%;
    height: 40px;
    border-radius: $border-radius;
    background-color: $color-blue;
    border: 3px solid $color-blue;
    background-color: $fill;

    @media (max-width: $breakpoint-tablet) {
      display: none;
    }
  }
}
