@mixin slider-triangle-arrow($bottom: 0px) {
  position: absolute;
  top: 0;
  bottom: $bottom;
  z-index: 1;
  display: flex;
  align-items: center;

  @media (max-width: $breakpoint-laptop) {
    width: 40px;
  }

  svg {
    cursor: pointer;

    &:hover {
      path:last-child {
        fill: $color-blue;
      }
    }

    path:last-child {
      transition: ease 0.3s;
    }
  }

  &.arrow-left {
    margin-right: 30px;
    left: 0;
  }

  &.arrow-right {
    transform: rotate(180deg);
    margin-left: 30px;
    right: 0;
  }
}

@mixin section-animated-tab($border-radius: 0 0 0 40px, $left: auto, $fill: $color-blue, $translate: 100%) {
  position: relative;
  overflow: hidden;

  .animated-tab {
    position: absolute;
    top: 0;
    right: 0;
    left: $left;
    width: 30%;
    height: 40px;
    border-radius: $border-radius;
    background-color: $color-blue;
    border: 3px solid $color-blue;
    background-color: $fill;
    transform: translateX($translate);
    transition: ease 0.5s;

    &.animated {
      transform: translateX(0);
    }

    @media (max-width: $breakpoint-tablet) {
      display: none;
    }
  }
}

@mixin shape-paralax-pentagon($top: 30%, $bottom: auto) {
  position: absolute;
  left: -160px;
  top: $top;
  bottom: $bottom;
  width: 325px;
  z-index: 0;

  @media (max-width: $breakpoint-desktop) {
    opacity: 0.5;

    @if ($bottom == auto) {
      top: calc($top * 2.5);
    }

    @if ($top == auto) {
      bottom: -50%;
    }
  }

  @media (max-width: $breakpoint-tablet) {
    display: none;
  }
}

@mixin full-absolute-bleed($space: 0, $position: absolute) {
  position: $position;
  top: $space;
  right: $space;
  bottom: $space;
  left: $space;
}

@mixin border-slide-animation(
  $border-radius: 0 25px, $border-side1: bottom, $border-side2: left,
  $bottom-after: -3px, $bottom-before: -4px, $top: auto, $bottom-top: auto
) {
  position: relative;
  border-radius: $border-radius;
  border-#{$border-side1}: 3px solid $color-blue;
  border-#{$border-side2}: 3px solid $color-blue;

  &:after {
    content: "";
    position: absolute;
    bottom: $bottom-after;
    top: $top;
    left: 40px;
    right: -100vw;
    border-top: 3px solid #06A6B9;
    z-index: 0;
  }

  &:before {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: $bottom-before;
    top: $bottom-top;
    left: -10px;
    width: 100vw;
    height: 110%;
    background-color: #fff;
  }
}

@mixin activate-border-animation($direction: up) {
  &.animated {
    .border-slide-animation:before {
      animation: border-slide-#{$direction} 2s linear forwards;
    }
  }
}

@mixin slide-purple-border() {
  position: absolute;
  height: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  border: 4px solid $color-purple;
  border-radius: 20px;
  pointer-events: none;

  @media (max-width: $breakpoint-laptop) {
    left: 50px;
  }

  &:after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='19' viewBox='0 0 27 19'%3E%3Cpath id='Polygon_7' data-name='Polygon 7' d='M13.5,0,27,19H0Z' transform='translate(27 19) rotate(180)' fill='%23c959a3'/%3E%3C/svg%3E%0A");
    position: absolute;
    bottom: -24px;
  }
}

@mixin line-animation {
  position: relative;

  &.animated {
    &:after {
      transform: scaleX(1);
    }
  }

  &:after {
    content: '';
    width: 100vw;
    position: absolute;
    right: -90vw;
    bottom: 0;
    border-top: 3px solid $color-blue;
    transform-origin: right;
    transform: scaleX(0);
    transition: ease 1s;
  }
}


@mixin blue-square-bg($top: 35%) {
  &:after {
    content: '';
    position: absolute;
    z-index: 0;
    width: 100vw;
    top: $top;
    right: -15vw;
    height: 720px;
    border-radius: 25px;
    background-color: $color-secondary-sky;

    @media (max-width: $breakpoint-tablet) {
      display: none;        
    }
  }
}