$color-gray: #606060;
$color-purple: #C959A3;
$color-dark-gray: #40464A;
$color-blue: #06A6B9;
$color-black: #161719;
$color-white: #ffffff;

$color-secondary-gray: #DBDBDB;
$color-secondary-sky: #F5FAFB;

$breakpoint-desktop: 1439px;
$breakpoint-laptop: 991px;
$breakpoint-tablet: 767px;
$breakpoint-mobile: 399px;
